/* margin */
.mar-t-20 {
    margin: 20px 0 0 0;
}

.mar-b-16 {
    /* 1em / 1rem */
    margin: 0 0 16px 0;
}

/* padding */
.pad-r-15 {
    padding: 0 15px 0 0;
}

/* top and bottom paddings */
.pad-tb-25-35 {
    padding: 25px 0 35px 0;
}

.pad-tb-35-10 {
    padding: 35px 0 10px 0;
}

.pad-tb-40-10 {
    padding: 40px 40px 10px 40px;
}

.pad-tb-40-140 {
    padding: 40px 0 140px 0;
}

.pad-tb-42-175 {
    padding: 42px 0 175px 0;
}

.pad-tb-50-55 {
    padding: 50px 0 55px 0;
}

.pad-tb-55-100 {
    padding: 55px 0 100px 0 !important;
}

.pad-tb-80-80 {
    padding: 80px 0 80px 0;
}

.pad-tb-90-80 {
    padding: 90px 0 80px 0;
}

.pad-tb-90-90 {
    padding: 90px 0 90px 0;
}

.pad-tb-60-150 {
    padding: 60px 0 150px 0;
}

.pad-tb-120-50 {
    padding: 120px 0 50px;
}

/* padding's top */
.pad-t-15 {
    padding: 15px 0 0 0;
}

.pad-t-25 {
    padding: 25px 0 0 0;
}

.pad-t-30 {
    padding: 30px 0 0 0;
}

.pad-t-35 {
    padding: 35px 0 0 0;
}

.pad-t-45 {
    padding: 45px 0 0 0;
}

.pad-t-50 {
    padding: 50px 0 0 0;
}

.pad-t-110 {
    padding: 110px 0 0 0;
}

.pad-t-135 {
    padding: 135px 0 0 0;
}

/* padding's bottom */
.pad-b-2 {
    padding: 0 0 2px 0;
}

.pad-b-5 {
    padding: 0 0 5px 0;
}

.pad-b-10 {
    padding: 0 0 10px 0;
}

.pad-b-15 {
    padding: 0 0 15px 0;
}

.pad-b-16 {
    /* 1em or 1rem */
    padding: 0 0 16px 0;
}

.pad-b-20 {
    padding: 0 0 20px 0;
}

.pad-b-25 {
    padding: 0 0 25px 0;
}

.pad-b-30 {
    padding: 0 0 30px 0;
}

.pad-b-35 {
    padding: 0 0 35px 0;
}

.pad-b-55 {
    padding: 0 0 55px 0;
}

/* paddings */
.pad-10 {
    padding: 10px;
}

.pad-15 {
    padding: 15px;
}